body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #006494;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    line-height:230%;
}

nav {
    background: #ddd;
    padding: 10px;
    text-align: center;
}

nav.mainIndex ul {
    list-style:linear-gradient(45deg, gray 0 50%, black 50% 100%);
    padding: 0;
    text-align: left;
    margin-left:4em;
}



nav.studyGuide ul {
    list-style:linear-gradient(45deg, gray 0 50%, black 50% 100%);
    padding: 0;
    text-align: left;
    margin-left:4em;
}


nav ul li {
    display:list-item;
    margin: 15px 15px;
	font-size: x-large;
	font-stretch: semi-expanded;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display:list-item;
    margin: 15px 15px;
	font-size: x-large;
	font-stretch: semi-expanded;
	font-family: Arial, Helvetica, sans-serif;
}

nav.mainIndex ul li a {
    font-size: smaller;
}

nav.studyGuide ul li a {
    font-size: smaller;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


    article {
        background: #ff0;
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px;
        width: 88%;
    }

@media only screen and (max-width:600px) {
    article {
        background: #ff0;
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px;
        width: 88%;
    }
}

@media only screen and (min-width:600px) {
    article {
        background: #fff;
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px;
        width: 68%;
    }
}

case_items ol li {
	font-size: large;
	color: DarkBlue;
	margin-top: 12px;
	margin-bottom: 2px;
}
case_items ul li {
	font-size: normal;
	color: Black;
}

case_items topic_item {
	font-style: italic;
	color: Blue;
}

article section {
    margin-left:2em;
}

case_items topic_sub_item {
    margin-left: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

header a button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding:5px 10px;
} 

a button.nextSection {
  position: absolute;
  top: 10px;
  right: 10px;
  padding:5px 10px;
  width:22em;
} 

a button.prevSection {
  position: absolute;
  top: 10px;
  left: 10px;
  padding:5px 5px;
  width:22em;
}

.callout { background: #f0f8ff; border-left: 5px solid #004080; padding: 10px 15px; margin: 20px 0; }
.warning { background: #fff4e5; border-left: 5px solid #ff8800; padding: 10px 15px; margin: 20px 0; }
